Source: me.Appadeia.systeminformation
Section: x11
Priority: extra
Maintainer: Carson Black <uhhadd@gmail.com>
Build-Depends: meson,
               valac,
               debhelper,
               libgtk-3-dev

Standards-Version: 3.9.3
Package: me.Appadeia.systeminformation
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: 
